/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028; /* цвет фона */
  --bg-image: url(../images/cover-image-dark.png); /* картинка с фоном */
  --decor-color: #ff0070; /* цвет декоративных уголков, надписи REC и точки */
  --button-color-txt-brd: #ff0070; /* цвет текста кнопок и рамки */
  --button-border-hover: #ff007066; /* цвет рамки кнопки при наведении */
  --section-title-decor-clr: #000028; /* цвет текста под заголовком в шапке и заголовков основного контента */
  --section-title-decor-bg-clr: #ff0070; /* цвет фона под заголовком в шапке и заголовков основного контента */
  --header-title-text: #db00ff; /* цвет заголовка в шапке */
  --accent-color: #ff0070; /* цвет тени заголовка в шапке */
  --text-color: #f1b2ce; /* цвет текста основного контента */
}