/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --header-title-text: #DB00FF;
  --accent-color: #FF0070;
  --section-title-decor-clr: #000028;
  --section-title-decor-bg-clr: #FF0070;
  --button-color-text: #FF0070;
  --button-border: #FF0070;
  --button-border-hover: #FF007066;
  --decor-color: #FF0070;
}