/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7; /* цвет фона */
    --bg-image: url(../images/cover-image-light.png); /* картинка с фоном */
    --decor-color: #353430; /* цвет декоративных уголков, надписи REC и точки, и шрифта заголовков основного контента */
    --button-color-txt-brd: #353430; /* цвет текста кнопок, рамки в активном состоянии и фокусе */
    --button-border-hover: #35343066; /* цвет рамки кнопки при наведении */
    --section-title-decor-clr: #353430; /* цвет текста под заголовком в шапке и подзаголовков основного контента */
    --section-title-decor-bg-clr: #ff8dcb; /* цвет фона под заголовком в шапке и подзаголовков основного контента */
    --header-title-text: #ffc2e6; /* цвет заголовка в шапке */
    --accent-color: #ff8dcb; /* цвет тени заголовка в шапке и ссылки */
    --text-color: #353430; /* цвет текста основного контента, подчёркивания ссылки при наведении и её фокуса */
  }

  /* отключаем REC с красной точкой по кнопке "авто" */
  :root.theme-auto .header_rec {
    display: none;
  }
}

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7; /* цвет фона */
  --bg-image: url(../images/cover-image-light.png); /* картинка с фоном */
  --decor-color: #353430; /* цвет декоративных уголков, надписи REC и точки, и шрифта заголовков основного контента */
  --button-color-txt-brd: #353430; /* цвет текста кнопок и рамки */
  --button-border-hover: #35343066; /* цвет рамки кнопки при наведении */
  --section-title-decor-clr: #353430; /* цвет текста под заголовком в шапке и подзаголовков основного контента */
  --section-title-decor-bg-clr: #ff8dcb; /* цвет фона под заголовком в шапке и подзаголовков основного контента */
  --header-title-text: #ffc2e6; /* цвет заголовка в шапке */
  --accent-color: #ff8dcb; /* цвет тени заголовка в шапке */
  --text-color: #353430; /* цвет текста основного контента */
}

/* отключаем REC с красной точкой по кнопке "день" */
:root.theme-light .header_rec {
  display: none;
}
