/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.3;
  color: var(--text-color);
}

/* ШАПКА */
/* уголки*/
.decorated-zone {
  position: relative;
}

.decorated-zone::before, .decorated-zone::after {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  inset-block-start: var(--decor-content-pdg);
  inset-inline-end: var(--decor-content-pdg);
}

.decorated-zone::after {
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
  inset-block-end: var(--decor-content-pdg);
  inset-inline-start: var(--decor-content-pdg);
}

/* сетка шапки */
.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--decor-content-pdg);
}

/* REC с красной точкой */
.header_rec {
  color: var(--decor-color);
  text-transform: uppercase;
  font-size: inherit;
  line-height: 1.4;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  inset-block-start: var(--decor-content-pdg);
  inset-inline-end: calc(var(--decor-content-pdg) + 10px);
}

.header_rec::after {
  content: '';
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--decor-color);
  border-radius: 50px;
  box-shadow: 0 0 5px 2px var(--decor-color);
}

/* кнопки переключения темы */
.header__theme-menu {
  display: flex;
  justify-self: end;
  flex-direction: column;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  line-height: 18px;
  font-size: inherit;
  color: var(--button-color-txt-brd);
  text-transform: lowercase;
  padding: 2px 13px 5px;
}

.header__theme-menu-button_active {
  border-block: 1px solid var(--button-color-txt-brd);
  border-inline: 1px solid var(--button-color-txt-brd);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border-block: 1px solid var(--button-border-hover);
  border-inline: 1px solid var(--button-border-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--button-border);
}

/* заголовок no focus */
.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--header-title-text);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
}

/* текст под заголовком */
.header__text {
  align-self: center;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.3;
}

.title-decor {
  color: var(--section-title-decor-clr);
  background-color: var(--section-title-decor-bg-clr);
}

/* ОСНОВНОЙ контент */
.content {
  padding: 40px var(--decor-content-pdg);
  display: grid;
  gap: var(--content-section-gap);
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__section-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.3;
  color: var(--section-title-decor-bg-clr);
}

.content__card {
  display: grid;
  gap: 10px;
}

.content__card-title {
  font-size: inherit;
  line-height: inherit;
}

.content__card-title-weight {
  font-weight: 400;
}

.content__card-text {
  font-size: inherit;
  line-height: inherit;
}

/* ПОДВАЛ */
.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  padding: var(--decor-content-pdg);
  align-items: center;
  justify-items: center;
}

/* заголовок подвала */
.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--header-title-text);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-transform: lowercase;
}

/* Планшет: 768–1023 */
@media (width >= 768px) {

}

/* Десктоп: 1024+ */
@media (width >= 1024px) {

}