/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono", "Open Sans", "Arial", sans-serif; /* шрифт */
  --font-size: 18px; /* основной размер шрифта контента */
  --bg-color: #000028; /* цвет фона */
  --bg-image: url(../images/cover-image-dark.png); /* картинка с фоном */
  --decor-color: #ff0070; /* цвет декоративных уголков, надписи REC и точки */
  --button-color-txt-brd: #ff0070; /* цвет текста кнопок, рамки в активном состоянии и фокусе */
  --button-border-hover: #ff007066; /* цвет рамки кнопки при наведении */
  --section-title-decor-clr: #000028; /* цвет текста под заголовком в шапке и подзаголовков основного контента */
  --section-title-decor-bg-clr: #ff0070; /* цвет фона под заголовком в шапке и заголовков основного контента */
  --header-title-text: #db00ff; /* цвет заголовка в шапке */
  --accent-color: #ff0070; /* цвет тени заголовка в шапке и ссылки */
  --text-color: #f1b2ce; /* цвет текста основного контента, подчёркивания ссылки при наведении и её фокуса */
  --decor-content-pdg: 10px; /* внутренний отступ на странице */
  --content-section-gap: 50px /* отступ между секциями основного контента */
}
